body {
    background-color: #131316;
    color: #ffff;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    /* margin: 30px; */
}



.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}